body {
  margin: 0;
  padding: 0;
  
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-columns: 0.2fr auto 0.2fr;
  background: #C7EFCF;
}

.page {
  background: #EEF5DB;
  height: 100vh;
  grid-column: 2;
  grid-row: 2;
}